<ion-view view-title="Liste des notes">
    <ion-content>
        <div class="card" ng-repeat="item in itemsList">
            <div class="item item-divider" ng-click="gotoEdit(item.id)">
                {{item.title}}
            </div>
            <div class="item item-text-wrap">
                {{item.content}}
            </div>
        </div>
        <a href="#/form/" class="button button-block button-positive">
            <i class="icon ion-plus-circled"></i> Ajouter
        </a>
    </ion-content>
</ion-view>
